.d_food-warp {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    bottom: 48px;
    transition: all .4s;
    transform: translate3d(0, 0, 0);
    &.showFoodDetails-enter, &.showFoodDetails-leave-active {
        transform: translate3d(100%, 0, 0);
    }
    .d_foodDetails {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
        overflow: hidden;
        .d_food-back {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 30;
            color: #fff;
        }
        .d_food-back-icon {
            width: 24px;
            height: 24px;
            font-size: 10px;
            line-height: 22px;
            display: block;
            text-align: center;
            cursor: pointer;
            border-radius: 50%;
            background: rgba(0, 0, 0, .4);
            &:after {
                @include setFont('\e601');
            }
        }
        .d_food-pic {
            display: block;
            width: 100%;
            padding-top: 100%;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .d_food-content {
            padding: 18px;
            box-sizing: border-box;
            position: relative;
            .d_cartcontrol-wrap {
                right: 18px;
            }
            .d_cart-add {
                position: absolute;
                right: 18px;
                bottom: 18px;
                padding: 6px 12px;
                border-radius: 24px;
                font-size: 10px;
                height: 12px;
                line-height: 12px;
                background: rgb(0, 160, 220);
                color: #fff;
                opacity: 1;
                transition: all .2s;
            }
            .foodCount-enter, .foodCount-leave-active {
                opacity: 0;
                z-index: -1;
            }
        }
        .d_food-title {
            font-size: 14px;
            line-height: 14px;
            font-weight: 700;
            color: rgb(7, 17, 27);
        }
        .d_info-title{
            font-size: 14px;
            line-height: 14px;
            color: rgb(7, 17, 27);
        }
        .d_food-detail {
            margin-top: 8px;
            font-size: 10px;
            line-height: 10px;
            color: rgb(147, 153, 159);
        }
        .d_food-rating {
            padding-left: 12px;
        }
        .d_food-price {
            margin-top: 18px;
            font-weight: 700;
            line-height: 14px;
            font-size: 0px;
            .d_food-now {
                color: rgb(240, 20, 20);
                span {
                    font-size: 10px;
                    &:last-child {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
            .d_food-old {
                padding-left: 5px;
                color: rgb(147, 153, 159);
                span {
                    text-decoration: line-through;
                    font-size: 10px;
                    &:last-child {
                        font-weight: bold;
                    }
                }
            }
        }
        .d_food-text{
            margin-top: 6px;
            line-height: 24px;
            color:rgb(77,85,93);
            font-size: 12px;
        }
        .d_food-ratingList{
            padding: 18px 0;
            box-sizing: border-box;
            position: relative;
            .d_info-title{
                padding:0 18px;
                box-sizing: border-box;
            }
        }
    }
    .d_rating-wrap{
        width: 100%;
        padding: 0px 18px;
        box-sizing: border-box;
        .d_rating-list{
        }
        .d_rating-item{
            padding: 16px 0;
            .d_rating-time-wrap{
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 6px;
                color: rgb(147,153,159);
            }
            .d_rating-time{
                text-align: left;
            }
            .d_rating-user{
                float: right;
                @include after();
                font-size: 0;
            }
            .d_rating-name{
                font-size: 10px;
                line-height: 12px;
                margin-right: 6px;
            }
            .d_rating-pic{
                vertical-align: top;
                display: inline-block;
                width: 12px;
                height: 12px;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                }
            }
            .d_rating-text-wrap{
                font-size: 0;
                .d_rating-icon-up,.d_rating-icon-down{
                    font-size: 14px;
                    line-height: 24px;
                    margin-right: 4px;
                }
                .d_rating-icon-up{
                    color:rgb(0,160,220);
                    &:after{
                        @include setFont("\e60a");
                    }
                }
                .d_rating-icon-down{
                    color:rgb(147,153,159);
                    &:after{
                        @include setFont("\e609");
                    }
                }
                .d_rating-text{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .d-rating-empty{
            padding: 16px 0;
            font-size: 12px;
            line-height: 12px;
        }
    }
}